n8n-workflow-chatbot-neura.json
{
  "name": "NCR - Chatbot Neura",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "neuracore-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-32, -48],
      "id": "dad01299-6081-4f4f-9deb-07107126c587",
      "name": "Webhook1",
      "webhookId": "50218a36-5411-4b52-a128-0158712f0dda"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook1').item.json.body.chatInput }}\n",
        "options": {
          "systemMessage": "Sos Neura, la asistente inteligente de NeuraCore. Hablás en español rioplatense, profesional pero cercana. Usás \"vos\" en vez de \"tú\". Sos concisa y vas al grano.\n\n## Tus herramientas\n\n### buscar_comprobantes\nBusca facturas, notas de crédito/débito, tickets. Filtra por proveedor (nombre parcial), estado, rango de fechas, tipo (compra/venta), source (xubio/arca/manual/pdf_upload).\nUsá esta cuando pregunten por facturas, comprobantes, compras, ventas, gastos, cuánto se le debe a alguien, qué vence pronto, últimos movimientos.\n\n### buscar_comprobantes_monto\nBusca facturas filtrando por rango de montos y/o estado. Complementa a buscar_comprobantes cuando necesitás filtrar por plata.\n\n### buscar_proveedor\nBusca proveedores por nombre parcial. Devuelve razón social, CUIT, email, teléfono, condición fiscal.\nUsá esta cuando pregunten \"quién es tal proveedor\", \"CUIT de tal\", \"datos de tal proveedor\", \"estado de cuenta\".\n\n### buscar_cliente\nBusca clientes por nombre parcial. Devuelve razón social, CUIT, email, teléfono.\nUsá esta cuando pregunten por clientes.\n\n### buscar_por_cuit\nBusca un proveedor por CUIT exacto. Útil cuando el usuario da el CUIT directamente.\n\n### buscar_cliente_por_cuit\nBusca un cliente por CUIT exacto.\n\n### comprobantes_de_proveedor\nTrae las últimas facturas de un proveedor específico buscando por CUIT. Usá buscar_proveedor primero para obtener el CUIT, después usá esta tool.\n\n### comprobantes_de_cliente\nTrae las últimas facturas de venta a un cliente específico buscando por CUIT.\n\n### buscar_ordenes_pago\nConsulta órdenes de pago. Filtra por estado.\n\n### estado_sincronizacion\nVe el estado de las últimas sincronizaciones con ARCA, Xubio, o conciliaciones.\n\n## Reglas estrictas\n1. NUNCA inventes datos. Si la herramienta no devuelve resultados, decilo.\n2. Si te preguntan cuánto se debe a un proveedor: primero buscá el proveedor, después usá comprobantes_de_proveedor con su CUIT filtrando estado pendiente, y sumá los monto_ars.\n3. Si te preguntan por \"facturas de marzo\", convertí a fecha_desde y fecha_hasta del mes.\n4. Formateá montos como \"$ 1.234.567,89\" (formato argentino).\n5. Usá tablas Markdown cuando haya varios resultados.\n6. Si un comprobante tiene pdf_url, incluí el link para que el usuario pueda verlo (ej: \"[Ver PDF](url)\").\n7. Si no encontrás resultados, sugerí buscar de otra manera (otro nombre, fechas, etc.).\n8. Nunca menciones IDs internos, tenant_id, ni detalles técnicos al usuario.\n9. Para preguntas que no son sobre datos, respondé con lo que sabés del sistema NeuraCore.\n\n## Ayuda del sistema (respondé sin usar herramientas)\n- Para cargar una factura: \"Podés subirla desde Contable > Comprobantes > Upload, o mandarla como foto/PDF por Telegram.\"\n- Para conciliar: \"Andá a módulo Agro > Conciliación, o esperá al reporte semanal automático.\"\n- Para crear una OP: \"Desde Tesorería > Órdenes de Pago > Nueva, seleccioná proveedor y facturas.\"\n\n## Ejemplos\n- \"Cuánto le debo a Bonelli\" → buscar_proveedor(Bonelli) → comprobantes_de_proveedor(cuit, estado=pendiente) → sumar\n- \"Facturas de marzo\" → buscar_comprobantes(fecha_desde=2026-03-01, fecha_hasta=2026-03-31)\n- \"Últimas 10 facturas\" → buscar_comprobantes(limit=10)\n- \"Facturas pendientes de más de 100.000\" → buscar_comprobantes_monto(monto_min=100000, estado=pendiente)\n- \"CUIT de Techint\" → buscar_proveedor(Techint)\n- \"OPs pendientes\" → buscar_ordenes_pago(estado=pendiente)\n- \"Última conciliación\" → estado_sincronizacion(tipo=conciliar)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [176, -48],
      "id": "0f18963d-6595-4c49-8794-7d74342c3791",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [32, 160],
      "id": "5ffa1b1a-14a7-4894-81dd-4be82a735683",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ckp67BViTFwefxtq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.tenant_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [256, 160],
      "id": "eb9300be-cb3f-450b-bebc-dcc6f027413a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [528, -48],
      "id": "ecd81c48-7345-42f5-b603-476bc009c227",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "url": "https://fuytejvnwihghxymyayw.supabase.co/rest/v1/contable_comprobantes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,tipo,tipo_comprobante,fecha,numero_comprobante,monto_original,monto_ars,moneda,estado,descripcion,fecha_vencimiento,source,pdf_url,contable_proveedores(razon_social,cuit),contable_clientes(razon_social),contable_categorias(nombre)"
            },
            {
              "name": "tenant_id",
              "value": "=eq.{{ $('Webhook1').item.json.body.tenant_id }}"
            },
            {
              "name": "contable_proveedores.razon_social",
              "value": "=ilike.*{{ $fromAI('proveedor', 'nombre parcial del proveedor (dejar vacío si no aplica)', 'string') }}*"
            },
            {
              "name": "order",
              "value": "fecha.desc"
            },
            {
              "name": "limit",
              "value": "={{ $fromAI('limit', 'máximo resultados, default 10', 'number') || 10 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [400, 160],
      "id": "a1000001-0001-4000-a000-000000000001",
      "name": "buscar_comprobantes",
      "description": "Busca comprobantes (facturas) filtrando por nombre de proveedor. Usa inner join con proveedores.",
      "credentials": {
        "supabaseApi": {
          "id": "ot7tTJCG3GENX2kF",
          "name": "Supabase account 6"
        }
      }
    },
    {
      "parameters": {
        "url": "https://fuytejvnwihghxymyayw.supabase.co/rest/v1/contable_comprobantes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,tipo,tipo_comprobante,fecha,numero_comprobante,monto_original,monto_ars,moneda,estado,descripcion,fecha_vencimiento,source,pdf_url,contable_proveedores(razon_social,cuit),contable_clientes(razon_social),contable_categorias(nombre)"
            },
            {
              "name": "tenant_id",
              "value": "=eq.{{ $('Webhook1').item.json.body.tenant_id }}"
            },
            {
              "name": "monto_ars",
              "value": "=gte.{{ $fromAI('monto_min', 'monto mínimo en ARS (0 si no aplica)', 'number') || 0 }}"
            },
            {
              "name": "estado",
              "value": "=eq.{{ $fromAI('estado', 'estado del comprobante: pendiente, clasificado, aprobado, inyectado, error, rechazado, pagado', 'string') }}"
            },
            {
              "name": "order",
              "value": "fecha.desc"
            },
            {
              "name": "limit",
              "value": "={{ $fromAI('limit', 'máximo resultados, default 10', 'number') || 10 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [400, 320],
      "id": "a1000001-0002-4000-a000-000000000002",
      "name": "buscar_comprobantes_monto",
      "description": "Busca comprobantes filtrando por monto mínimo y estado. Para buscar facturas caras o pendientes.",
      "credentials": {
        "supabaseApi": {
          "id": "ot7tTJCG3GENX2kF",
          "name": "Supabase account 6"
        }
      }
    },
    {
      "parameters": {
        "url": "https://fuytejvnwihghxymyayw.supabase.co/rest/v1/contable_proveedores",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,razon_social,cuit,email,telefono,direccion,condicion_fiscal,activo"
            },
            {
              "name": "tenant_id",
              "value": "=eq.{{ $('Webhook1').item.json.body.tenant_id }}"
            },
            {
              "name": "razon_social",
              "value": "=ilike.*{{ $fromAI('nombre', 'nombre parcial del proveedor a buscar', 'string') }}*"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [560, 160],
      "id": "a1000001-0003-4000-a000-000000000003",
      "name": "buscar_proveedor",
      "description": "Busca proveedores por nombre parcial. Devuelve razón social, CUIT, email, teléfono, condición fiscal.",
      "credentials": {
        "supabaseApi": {
          "id": "ot7tTJCG3GENX2kF",
          "name": "Supabase account 6"
        }
      }
    },
    {
      "parameters": {
        "url": "https://fuytejvnwihghxymyayw.supabase.co/rest/v1/contable_clientes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,razon_social,cuit,email,telefono,direccion,condicion_fiscal,activo"
            },
            {
              "name": "tenant_id",
              "value": "=eq.{{ $('Webhook1').item.json.body.tenant_id }}"
            },
            {
              "name": "razon_social",
              "value": "=ilike.*{{ $fromAI('nombre', 'nombre parcial del cliente a buscar', 'string') }}*"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [560, 320],
      "id": "a1000001-0004-4000-a000-000000000004",
      "name": "buscar_cliente",
      "description": "Busca clientes por nombre parcial. Devuelve razón social, CUIT, email, teléfono.",
      "credentials": {
        "supabaseApi": {
          "id": "ot7tTJCG3GENX2kF",
          "name": "Supabase account 6"
        }
      }
    },
    {
      "parameters": {
        "url": "https://fuytejvnwihghxymyayw.supabase.co/rest/v1/contable_proveedores",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,razon_social,cuit,email,telefono,direccion,condicion_fiscal"
            },
            {
              "name": "tenant_id",
              "value": "=eq.{{ $('Webhook1').item.json.body.tenant_id }}"
            },
            {
              "name": "cuit",
              "value": "=eq.{{ $fromAI('cuit', 'CUIT del proveedor (solo números, 11 dígitos)', 'string') }}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [720, 160],
      "id": "a1000001-0005-4000-a000-000000000005",
      "name": "buscar_por_cuit",
      "description": "Busca un proveedor por CUIT exacto (11 dígitos sin guiones).",
      "credentials": {
        "supabaseApi": {
          "id": "ot7tTJCG3GENX2kF",
          "name": "Supabase account 6"
        }
      }
    },
    {
      "parameters": {
        "url": "https://fuytejvnwihghxymyayw.supabase.co/rest/v1/contable_clientes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,razon_social,cuit,email,telefono,direccion,condicion_fiscal"
            },
            {
              "name": "tenant_id",
              "value": "=eq.{{ $('Webhook1').item.json.body.tenant_id }}"
            },
            {
              "name": "cuit",
              "value": "=eq.{{ $fromAI('cuit', 'CUIT del cliente (solo números, 11 dígitos)', 'string') }}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [720, 320],
      "id": "a1000001-0006-4000-a000-000000000006",
      "name": "buscar_cliente_por_cuit",
      "description": "Busca un cliente por CUIT exacto (11 dígitos sin guiones).",
      "credentials": {
        "supabaseApi": {
          "id": "ot7tTJCG3GENX2kF",
          "name": "Supabase account 6"
        }
      }
    },
    {
      "parameters": {
        "url": "https://fuytejvnwihghxymyayw.supabase.co/rest/v1/contable_comprobantes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,tipo,tipo_comprobante,fecha,numero_comprobante,monto_original,monto_ars,moneda,estado,descripcion,fecha_vencimiento,pdf_url,contable_categorias(nombre)"
            },
            {
              "name": "tenant_id",
              "value": "=eq.{{ $('Webhook1').item.json.body.tenant_id }}"
            },
            {
              "name": "cuit_emisor",
              "value": "=eq.{{ $fromAI('cuit', 'CUIT del proveedor emisor (11 dígitos)', 'string') }}"
            },
            {
              "name": "tipo",
              "value": "eq.compra"
            },
            {
              "name": "order",
              "value": "fecha.desc"
            },
            {
              "name": "limit",
              "value": "={{ $fromAI('limit', 'máximo resultados, default 10', 'number') || 10 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [880, 160],
      "id": "a1000001-0007-4000-a000-000000000007",
      "name": "comprobantes_de_proveedor",
      "description": "Trae las últimas facturas de compra de un proveedor específico filtrando por su CUIT emisor. Primero usá buscar_proveedor para obtener el CUIT.",
      "credentials": {
        "supabaseApi": {
          "id": "ot7tTJCG3GENX2kF",
          "name": "Supabase account 6"
        }
      }
    },
    {
      "parameters": {
        "url": "https://fuytejvnwihghxymyayw.supabase.co/rest/v1/contable_comprobantes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,tipo,tipo_comprobante,fecha,numero_comprobante,monto_original,monto_ars,moneda,estado,descripcion,fecha_vencimiento,pdf_url,contable_categorias(nombre)"
            },
            {
              "name": "tenant_id",
              "value": "=eq.{{ $('Webhook1').item.json.body.tenant_id }}"
            },
            {
              "name": "cuit_receptor",
              "value": "=eq.{{ $fromAI('cuit', 'CUIT del cliente receptor (11 dígitos)', 'string') }}"
            },
            {
              "name": "tipo",
              "value": "eq.venta"
            },
            {
              "name": "order",
              "value": "fecha.desc"
            },
            {
              "name": "limit",
              "value": "={{ $fromAI('limit', 'máximo resultados, default 10', 'number') || 10 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [880, 320],
      "id": "a1000001-0008-4000-a000-000000000008",
      "name": "comprobantes_de_cliente",
      "description": "Trae las últimas facturas de venta a un cliente específico filtrando por su CUIT receptor. Primero usá buscar_cliente para obtener el CUIT.",
      "credentials": {
        "supabaseApi": {
          "id": "ot7tTJCG3GENX2kF",
          "name": "Supabase account 6"
        }
      }
    },
    {
      "parameters": {
        "url": "https://fuytejvnwihghxymyayw.supabase.co/rest/v1/tesoreria_ordenes_pago",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,numero_op,fecha,estado,monto_bruto,monto_retenciones,monto_neto,archivo_url,contable_proveedores(razon_social,cuit)"
            },
            {
              "name": "tenant_id",
              "value": "=eq.{{ $('Webhook1').item.json.body.tenant_id }}"
            },
            {
              "name": "order",
              "value": "fecha.desc"
            },
            {
              "name": "limit",
              "value": "={{ $fromAI('limit', 'máximo resultados, default 10', 'number') || 10 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [1040, 160],
      "id": "a1000001-0009-4000-a000-000000000009",
      "name": "buscar_ordenes_pago",
      "description": "Busca órdenes de pago con datos del proveedor.",
      "credentials": {
        "supabaseApi": {
          "id": "ot7tTJCG3GENX2kF",
          "name": "Supabase account 6"
        }
      }
    },
    {
      "parameters": {
        "url": "https://fuytejvnwihghxymyayw.supabase.co/rest/v1/sync_runs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "run_type,status,fecha_desde,fecha_hasta,records_imported,records_updated,records_failed,triggered_by,created_at,completed_at"
            },
            {
              "name": "tenant_id",
              "value": "=eq.{{ $('Webhook1').item.json.body.tenant_id }}"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "limit",
              "value": "={{ $fromAI('limit', 'máximo resultados, default 5', 'number') || 5 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [1040, 320],
      "id": "a1000001-0010-4000-a000-000000000010",
      "name": "estado_sincronizacion",
      "description": "Consulta el estado de las últimas sincronizaciones y conciliaciones automáticas.",
      "credentials": {
        "supabaseApi": {
          "id": "ot7tTJCG3GENX2kF",
          "name": "Supabase account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [{ "node": "AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "AI Agent": {
      "main": [
        [{ "node": "Respond to Webhook1", "type": "main", "index": 0 }]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]
      ]
    },
    "buscar_comprobantes": {
      "ai_tool": [
        [{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "buscar_comprobantes_monto": {
      "ai_tool": [
        [{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "buscar_proveedor": {
      "ai_tool": [
        [{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "buscar_cliente": {
      "ai_tool": [
        [{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "buscar_por_cuit": {
      "ai_tool": [
        [{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "buscar_cliente_por_cuit": {
      "ai_tool": [
        [{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "comprobantes_de_proveedor": {
      "ai_tool": [
        [{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "comprobantes_de_cliente": {
      "ai_tool": [
        [{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "buscar_ordenes_pago": {
      "ai_tool": [
        [{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "estado_sincronizacion": {
      "ai_tool": [
        [{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "389bc4a833b9a53a284e411ec17b72e882bb1083c0e92907792c004c331457ab"
  }
}
